.pozadina {
  position: relative;
  overflow: hidden;
  min-height: 100vh; 
}

.pozadina::before {
  content: "";
  position: absolute;
  inset: -20px;
  background-image: url("/karta2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  opacity: 0.75;
  z-index: 0;

  filter: blur(1px) brightness(1);
}

.pozadina > * {
  position: relative;
  z-index: 1;
}