.pozadina {
  position: relative;
  overflow: hidden;
  min-height: 100vh; 
}

.pozadina::before {
  content: "";
  position: absolute;
  inset: -20px;
  background-image: url("/karta2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  opacity: 0.75;
  z-index: 0;

  filter: blur(1px) brightness(1);
}

.pozadina > * {
  position: relative;
  z-index: 1;
}

/* naslov */
.naslov {
  background-color: rgb(20 20 20 / 80%);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}


.navbar {
  background-color: rgb(255 255 255 / 30%) !important;
  backdrop-filter: blur(1px);
}


nav {
  background-color: rgb(255 255 255 / 20%) !important;
  backdrop-filter: blur(1px);
}